#home {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#maindiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#filelist {
    width: 70%;
    height: 85%;
    text-align: center;
}

#tablediv {
    margin-bottom: 1em;
    overflow: overlay;
}

#refdiv {
    margin-bottom: 2em;
}

#copyal {
    overflow: overlay;
}

