#home {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#maindiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#filelist {
    width: 70%;
    height: 85%;
    text-align: center;
}

#tablediv {
    max-height: 100%;
    margin-bottom: 1em;
    overflow: overlay;
}